extends layout

block content
	.product
		.container
			.row
				.span6.description
					h1 iBurger
					h3 Receive hamburgers from your phone
					
					.blurb
						p How often have you found yourself looking for a hamburger but couldn't find one? What if the solution to this problem was <em>in your pocket the whole time</em>?
						
						p Well <em>now it is</em>. With iBurger, you can print burgers directly from your phone and launch them directly into your huge gaping mouth. Lettuce. Tomato. Onion. Bacon. Cheese. The possibilities are endless in this revolutionary new app.
						
						p Look for it now in your nearest app store!
					
					.buttons
						button.btn.btn-large.btn-danger Buy It Now!
						button.btn.btn-large Learn More
				
				.span6.image
					img(src="/images/burgerphone.png")
			
			footer &copy; My Great Company
