doctype html

html
	head
		block head
			title
				block title
					| My New Project
			
			link(rel="stylesheet", href="/app.css")
	
	body
		block content
		
		block scripts
			script(src="/app.js")
