extends layout

block title
	= "My Cool Blog: " + data.title

block content
	article.full
		
		header
			h1= data.title
			time= data.date
		
		.content
			if data.image
				img.intro-image(src="#{data.image}")
			
			!= html

block header-content
	.article-title= data.title
